#root{
    position: relative;
}
.top-header{
    background: #ffffff;
    color: azure;
    font-size: 1.2rem;
    padding: 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    .logo{
       width: 200px;
       height: auto;
    }
  
}
footer{
    background: rgb(2, 33, 75);
    color: azure;
    font-size: 1.2rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
   // position: absolute;
    bottom: 0;
}
.heading-color{
    color: #0070a6;
}
.text-left{
    text-align: left !important;
}
.text-center{
    text-align: center !important;
}
.text-right{
    text-align: right !important;
}
.lh{
    line-height: 4.2rem !important;
}
.pad{
    padding: 2rem !important;
}
h4{
    font-size: 1.75rem !important;
}
.pad-b{
    padding-bottom: 2rem !important;
}
.pad-t-3{
    padding-top: 3rem !important;
}
.pad-r{
    padding-right: .5rem !important;
}
.pad-l-r{
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}
.mar-r{
    margin-right: 2rem !important;
}
.mar-b{
    margin-bottom: 2rem !important;
}
table tr{
    background: rgb(246, 244, 244);
    td, th{
        text-align: center;
    }
}
.faIcon{
    margin: 2px 10px;
}
.red{
    color: red;
}
.blue{
    color:rgb(0, 153, 158)
}
.active{
    color:  rgb(186, 0, 127) !important;
    box-shadow: none !important;
    border-bottom: 1px solid  rgb(186, 0, 127) !important;
}
.main-container{
    background: rgb(241, 241, 241);
    width: 90%;
    min-height: 5rem;
    margin: 1rem auto 8rem auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 2.5rem;

    input {
        width: 100%;
        box-sizing: border-box;
        height: 55px;
        border-radius: 5px;
        padding: 1rem;
        margin: .5rem;
        border: 1px solid rgb(206, 205, 205);
    }
}
.icon-size-m{
    font-size: 2rem !important;
}
.faIconBox{
    svg{
        margin: 2px 10px !important;
    }
    .red{
        color: red;
    }
    .green{
        color:rgb(0, 153, 158)
    }
    .blue{
        color:rgb(58, 10, 170)
    }
}
.btn-size-l{
    width: 20rem !important;
    margin: 0 auto;
}
.btn-size-m{
    width: 10rem !important;
    margin: 0 auto;
}
.min-h{
    min-height: 17rem;
    position: relative;
}
.dv-center-h-v {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .breadcrumb{
      width: 75%;
      margin: .1rem auto;
      span{
          font-size: 1rem;
          padding: 0 .1rem;
      }
  }

  .display-4 {
      color: #e31e94;
  }
  .display-2 {
      color: #292929;
   
}
.ul-col-2{
    columns: 2;
}
.homeImg{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.model-pop{
    max-width: 700px !important;
    min-height: 250px;
    position: fixed;
    left: 50%;
    top: 50;
    transform: translate(-50%, -50%);
    z-index: 1000;
    .btn-close{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .btn-close:hover{
      background-color: rgb(255, 0, 106) !important;
  }
}
.btn-model{
    width: 120px !important;
}

.overlayMask{
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: rgb(0, 0, 0, 0.7);
}
.text-red{
    color: #3f0021;
    font-weight: 600;
}
.to-do-list{
    background: #ebcedc;
    color: #000000;
    padding: 1rem;
    text-align: left;
    
}
.iqa{
    .imgQ{
        width: 100%;
        height: auto;
        padding-top: .5rem;
    }
}
@media only screen and (max-width: 600px) {
    .top-logo{
        text-align: center;
    }
    .top-menu {
        text-align: center;
        padding: 5px 0 37px 0 !important;
    }
 }

 //
 .flx-container{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     border-radius: 10px;
   //  background: #a3a3a3;
     padding: .5rem;
     justify-content: center;
     a:link, a:visited {
         color: #9a005a;
         text-decoration:none;
         font-size: 2rem;
         border-radius: 10px;
     }
     a:hover {
        color: #382932;
    }
 }
 .showContent{
     background: #e4e3e3;
     padding: 1rem;
     display: flex;
     justify-content: left;
     align-items: center;
    width: 95%;
    margin: .5rem;
    
 }
 .break {
    flex-basis: 100%;
    height: 0;
  }
.txtTitle{
    font-size: 2rem;
    color: #9a005a;
}
.stand-out, .accordion__panel p{
    font-size: 1rem;
    color: #050505;
    background: #e6deea;
    padding: 1rem;
}
.errorMsg{
    width: 90%;
    margin: 1em auto;
    padding: 1rem;
    border-radius: 15px;
    P{
        color: rgb(0, 0, 0);
        background: #fcbac6;
    }
}
.item-img img{
    width: 80px;
    height: auto;
}
.my-row{
    background: #e6deea;
    div{
        border-top:1px solid #aeacac;
    }
}
.nav-link {
    padding: 0.2rem 0.51rem !important;
}

.msgBox{
    width: 200px;
    margin: 1em auto;
    padding: 1rem;
    border-radius: 15px;
    background: #cac8c9;
    color: #000000;
}
.bdr-btm{
    border-bottom: 1px solid #ccc;
    padding: .5rem;
}
.movie{
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
}